# Core
streamlit
numpy
pandas
scipy
matplotlib
biopython

# Deep learning
scikit-learn
torch==2.3.1+cpu
python-Levenshtein
sentencepiece==0.1.99

# Visualization
seaborn
matplotlib

# Experiment tracking
wandb

# Utility / helper packages
joblib
tqdm
